@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");

:root {
  --primary: #100d0d;
  --background: #ffffff;
  --text-secondary: #81807e;
  --accent: #ff3d00;
  --text: #000000;
  --overlay-light: rgba(255, 255, 255, 0.1);
  --background-light: #dfded9;
  --text-muted: #6a6c6a;
  --border-muted: rgba(178, 178, 178, 0.37);
  --background-soft: #efefef;
  --text-dark-83: rgba(0, 0, 0, 0.83);
  --text-dark-70: rgba(0, 0, 0, 0.7);
}

/* ========== FONT FACES ========== */
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/GeneralSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/GeneralSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ========== GLOBAL RESET ========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "GeneralSans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--primary);
  background-color: var(--background);
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

button {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 450;
  /* font-family: "Cormorant Garamond", serif; */
}

/* ========== TYPOGRAPHY & LAYOUT ========== */
.container {
  padding: 0 1rem;
  margin: auto;
}

.spacing {
  margin: 40px auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background-color: var(--accent);
  color: white;
}

/* ========== BUTTONS ========== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  margin-top: 1.25rem;
  width: fit-content;
  height: 44px;
  font-size: 1rem;
  color: var(--background) !important;
  font-weight: 500;
  font-family: "GeneralSans", sans-serif;
  border-radius: 9999px;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: var(--accent);
  color: white !important;
}

.btn-primary:hover,
.btn-primary:focus {
  border-color: var(--primary);
  background-color: var(--primary);
  color: white;
}

.btn-secondary {
  border: 2px solid var(--accent);
  background: transparent;
  color: var(--accent);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--accent);
  color: white !important;
}

.right-menu .btn {
  margin-top: 0 !important;
}
/* ========== NAVIGATION ========== */
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid var(--border-muted);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

#logo {
  font-size: 1.2rem;
}

#main-menu,
.right-menu {
  display: none;
}

#hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}

#mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  margin-top: 20px;
}

#menu-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#mobile-menu.flex {
  display: flex;
}

#mobile-menu .btn {
  width: 100%;
  color: var(--background) !important;
}

.pre-title {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  /* color: var(--accent); */
  margin: 10px 0;
  text-transform: uppercase;
}

.title {
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 450;
  line-height: 1.1;
  margin-bottom: 20px;
  max-width: 75%;
}
.paragraph {
  color: var(--primary);
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
}

/* ========== MEDIA QUERIES ========== */
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .spacing {
    margin: 130px auto;
  }

  header {
    border: none;
  }

  #mobile-menu,
  #hamburger {
    display: none;
  }

  #main-menu,
  .right-menu {
    display: flex;
  }

  .right-menu .btn a {
    color: var(--accent);
  }

  .btn-secondary:hover a {
    color: white !important;
  }

  #menu-main-menu {
    gap: 30px;
  }
  .paragraph {
    font-size: 1.1rem;
  }

  .title {
    max-width: 900px;
    line-height: 1.065;
    font-size: calc(clamp(3.25em, 3.5vw, 4.5em) * 0.875);
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1400px;
    margin: auto;
  }
}
