/* ======== HERO SECTION ======== */
#hero {
  margin-top: 80px;
  text-align: center;
  padding: 0 1rem;
}

#hero h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 20px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

#hero h1 span {
  color: var(--primary);
  font-size: inherit;
  font-style: italic;
}
#hero p {
  margin: 0 auto;
}

.paragraph {
  color: var(--primary);
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 100%;
}
/* ======== HERO SLIDER ======== */

/* Container */
#hero-slider.swiper {
  overflow: clip;
  margin: 50px auto;
  max-width: 100%;
  background-color: var(--background);
}

/* Each Slide */
#hero-slider .swiper-slide {
  width: 320px !important;
  height: 400px !important;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* Image Styling */
.img-swiper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.swiper-wrapper {
  padding-left: 20px;
}

#hero-slider .hero-swiper-wrapper {
  /* margin-left: -20px; */
}

.swiper-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  background: var(--accent);
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.swiper-details h2 {
  font-size: 25p;
  margin: 0;
  font-weight: 700;
}
.swiper-details p {
  margin: 10px 0 35px 0;
  max-width: 400px;
}

.swiper-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.swiper-tags .tag {
  padding: 5px 12px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 0.8rem;
  border: 1px solid white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
}

#hero-slider .swiper-slide:hover .swiper-content {
  opacity: 1;
  visibility: visible;
}

/* ======== ABOUT SECTION ======== */
.about-content {
  display: flex; /* Enables flexbox layout */
  align-items: flex-start; /* Aligns items at the start */
  gap: 20px; /* Adds spacing between items */
}
.about-content .title,
.about-content .paragraph {
  max-width: 90% !important ;
}
.about-content span {
  text-align: left;
  width: 25%;
}

.about-texts {
  width: 75%;
}
.about-content .paragraph {
  max-width: 850px;
}

.about-numbers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: 75px auto 75px auto;
}

.about-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  gap: 20px;
  border-radius: 14px;
}

.about-number .text-number {
  font-size: 1rem;
  color: var(--primary);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--background-soft);
}

.about-number .paragraph {
  font-size: 0.9rem;
}
.about-numbers .number {
  font-family: "inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary);
}

.scroll-scale-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.scroll-scale-image {
  display: block;
  margin: 100px auto;
  width: 70%;
  height: 100vh;
  object-fit: cover;
  transform-origin: center center;
  will-change: transform;
  z-index: 1;
  position: relative;
}

/* ======== SERVICES ======== */
.services-top {
  display: grid;
  grid-template-columns: 1fr;
}

#services .services-top .title {
  max-width: 100%;
  text-align: right;
}
.services-top .pre-title {
  text-align: right;
}

.scroll-section {
  padding: 80px 40px;
}

.scroll-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  align-items: flex-start;
  margin-top: 50px;
}

.scroll-content {
  display: flex;
  flex-direction: column;
}

.service-block {
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--background-soft);
  padding: 100px 0;
}

.service-block h3 {
  font-size: 2.25rem;
  font-weight: 450;
}
.service-top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.service-block svg {
  width: 30px;
  height: 30px;
}
.scroll-image {
  width: 100%;
  height: 650px;
  aspect-ratio: 4 / 5;
}

.scroll-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.service-content h3 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 400;
}

.service-details {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.service-details span {
  padding: 5px 12px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 0.8rem;
  border: 1px solid var(--primary);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.mobile-service-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 14px;
  object-fit: cover;
}

.scroll-image {
  display: none;
}
/* ======== APPROACH ======== */
#approach {
  background-color: var(--primary);
  color: white;
  padding: 80px 0;
  height: 100vh;
}
#approach .title,
#approach .pre-title,
#approach p {
  color: white;
}
#approach .scroll-item span {
  font-size: clamp(2rem, 7vw, 7rem);
  font-family: "General Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.scroll-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
}
.scroll-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.asterisk {
  width: clamp(60px, 8vw, 120px);
  height: clamp(54px, 7.2vw, 108px);
  flex-shrink: 0;
}

.asterisk path {
  fill: var(--accent);
}

/* ======== MEDIA QUERIES ======== */
@media (min-width: 768px) {
  #hero {
    margin-top: 60px;
  }

  #hero h1 {
    font-size: clamp(3rem, 6vw, 6rem);
    margin-bottom: 30px;
  }

  #hero-slider .swiper-slide {
    width: 450px !important;
    height: 600px !important;
  }

  #hero-slider .hero-swiper-wrapper {
    margin-left: -180px;
  }

  .about-numbers {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 920px) {
  .about-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .services-top {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .scroll-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .scroll-image {
    position: sticky;
    top: 20px;
    width: 100%;
    height: 650px;
    aspect-ratio: 4 / 5;
  }

  .mobile-service-image {
    display: none;
  }

  .scroll-image {
    display: block;
  }
}
@media (min-width: 1200px) {
  .scroll-wrapper {
    grid-template-columns: 1fr 600px;
  }
}
